*{
    box-sizing: border-box;
}

body{
    margin: 0;
    overflow-x: hidden;
    background: #555555;
}
.nav{
    display: flex;
    background: #222;
    color: white;
    width: 100%;
}
.nav ul{
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: right;
    padding: 2rem;
    gap: 1rem;
}
.nav a{
    text-decoration: none;
    color: white;
}

.video{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.video video {
    width: 100%;
    object-fit: cover;
  }
.modal{
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 4rem;
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    color: white;
}

.galeria{
    height: 100%;
    width: 100%;
    margin: 3rem;
}
.galeria-imgs{
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 2rem;
}
.closeOverlay{
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 1rem;
    background: #222;
    border-radius: 50%;
    color: white;
}
.imgOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
}

.footer{
    background: #343434;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding: 1.5rem;
    
}
.footer ul{
    list-style: none;
}
.footer li{
    margin: 2rem;
}

 
.fixed-body {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
 
 
.containerImg img{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  width: 50rem;
  height: 30rem;
}
 
 